body {
    margin: 0 auto;
}

.header {
    justify-content: space-between;
    background-color: white;
}


.hdr {
    justify-content: space-between;
}

.btn {
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 100%;
    padding: 30px;
    border-style: solid; 
    border: none;
    outline: none;
    background-color: #00FF38;;
}