body {
    margin: 0 auto;
}

.header {

    background-color: white;
}


.hdr {
    justify-content: space-between;
}

.btn {

    border-radius: 100%;
    padding: 30px;
    border-style: solid; 
    border: none;
    outline: none;
    background-color: #00FF38;;
}